input[type="text"] {
  padding: 10px 25px;
  font-size: 16px;
}

select {
  padding: 10px 25px;
  font-size: 16px;
  appearance: none;
  background-color: $white;
  background-image: url('./../images/arrow_down.png');
  background-position: right;
  background-repeat: no-repeat;
  border: solid 1px transparent;
}