@import '../../../scss/variables';
@import '../../../scss/mixins';

.header {
  background: $white;
  padding: 30px 0;
  border-bottom: solid 5px $lightBorder;
  &-title {
    font-weight: bold;
  }
  &-toggle {
    margin-left: auto;
    &-label {
      cursor: pointer;
    }
    &-input {
      @include elementInvisible;
    }
  }
}

.dark {
  .header {
    background: $bgDark;
    color: $white;
    border-bottom-color: $darkBorder;
  }
}